MYSQL_ENGINE=django.db.backends.mysql
# Local database name
MYSQL_DATABASE=canvas_course_manager
# Local database user
MYSQL_USER=user
# Local database password
MYSQL_PASSWORD=password
# Local database host
MYSQL_HOST=canvas_course_manager_mysql
# Local database port
MYSQL_PORT=3306
# Local database root password (optional)
MYSQL_ROOT_PASSWORD=root_pw
TZ=America/Detroit
ENV_FILE=/code/config/env.json